/* src/pages/User/UserHomePage/UserHomePage.css */
.user-home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9eafc; /* Light background */
    min-height: 100vh;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    background-color: #ffffff;
    border-radius: 2.5cap;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.welcome-title {
    font-size: 1.8rem;
    color:  #1b5b9f;
    font-weight: 700;
}

.policy-list-container {
    padding-top: 20px;
}

.section-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 25px;
    font-weight: 500;
    border-left: 5px solid #1b5b9f;
    padding-left: 15px;
}